* {
    box-sizing: border-box;
    margin: auto;
   
  }
.game-body{
display:flex ;
flex-direction: column;
justify-content:center;
height: 100vh;
background-image: url('./image/background.jpg');
width: auto;
background-size: cover; /* For full coverage of the image*/

}

.game-item {
    margin: 50px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#score{
    font-size: 40px;
    border: 10px solid #578A34;
    padding: 2%;
    background-color: #99cc33;
    
}
#game-canvas{
    border: 15px solid #578A34;
background-image: url('./image/ground.png');

}
.gameover{
    position: absolute;
    top: 25%;
    padding: 15px;
    width: 100%;
    display: none;
    border-radius: 10px;
    text-align: center;
    background-color: #cc3333;
    font-size: 60px;
    font-style: italic;
  }